@media (max-width: 576px) {
  .top {
    padding-top: 0%;
  }

  .SignUp {
    width: 101%;
  }
  .SignUp-FirstCard {
    height: 250px;
  }
  .SignUp-image {
    margin-top: 20%;
  }
}
@media (min-width: 577px) {
  .top {
    padding-top: 8%;
  }

  .SignUp {
    width: 750px;
  }
  .SignUp-image {
    margin-top: 30%;
  }
}
.SignUp-FirstCard {
  word-wrap: normal !important;
  background-clip: unset !important;
  border: none !important;
}

.SignUp-BigImage {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.SignUp-image {
  margin-left: 15%;
  color: white;
  margin-right: 25%;
}

.SignUp-imageTitle {
  font-size: 40px;
}

.SignUp-Form {
  margin: 8%;
}

.SignUp-EraseBorder {
  border-color: black;
  border-radius: 0%;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  margin-bottom: 10px;
}

.SignUp-FormGroup {
  margin-bottom: 30px;
}

.SignUp-Button {
  color: white;
  background-color: hsl(224, 58%, 33%);
  align-self: center;
  font-weight: 600;
  display: flexbox;
  width: 100%;
  height: 45px;
}

.SignUp-SignIn {
  text-align: center;
}

.form-label {
  margin-bottom: 0px !important;
}

.change {
  transform: translateY(15px);
}
