<div *ngIf="authS.loading; else notLoading">
  <div
    class="h-100 w-100"
    style="background-color: rgb(207, 152, 152); position: absolute"
  >
    <h1
      style="
        top: 50%;
        left: 50%;
        transform: translate(-25%, -12.5%);
        position: absolute;
        width: 500px;
        height: 500px;
        color: #fff;
      "
    >
      Loading chat...
    </h1>
    <!--

       <img
       style="
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        width: 500px;
        height: 500px;
        "
        src="../assets/SignUpImage.jpg"
        />
    -->
  </div>
</div>
<ng-template #notLoading>
  <router-outlet class="h-100"> </router-outlet>
</ng-template>
